
/* Nav Css*/ 
nav {
    background-color: black;
}

.nav-content {
    background-color: black;
    color: white;
    font-family: 'Montserrat';
}

.nav-lb {
    color: white;
    font-family: 'Montserrat';
}

.nav-lb:hover {
    color: yellow;
    font-family: 'Montserrat';
    text-decoration: none;
}

/* END */ 

/* Products Css*/ 

.products {
    background-color: #3D3E41;
    color: white;
    font-family: 'Montserrat';
}

.products-title {
    margin-top: 40px;
    font-size: 20px;
    
    
}

/* Products Slider Css*/ 

.carousel-multi-item.v-2.product-carousel .carousel-inner .carousel-item.active,
.carousel-multi-item.v-2.product-carousel .carousel-item-next,
.carousel-multi-item.v-2.product-carousel .carousel-item-prev {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; 
  margin-top: 15px;
  margin-bottom: 15px;
}
.carousel-multi-item.v-2.product-carousel .carousel-item-right.active,
.carousel-multi-item.v-2.product-carousel .carousel-item-next {
  -webkit-transform: translateX(20%);
  -ms-transform: translateX(20%);
  transform: translateX(20%); 
  margin-top: 15px;
  margin-bottom: 15px;}
.carousel-multi-item.v-2.product-carousel .carousel-item-left.active,
.carousel-multi-item.v-2.product-carousel .carousel-item-prev {
  -webkit-transform: translateX(-20%);
  -ms-transform: translateX(-20%);
  transform: translateX(-20%); 
  margin-top: 15px;
  margin-bottom: 15px;}
.carousel-multi-item.v-2.product-carousel .carousel-item-right,
.carousel-multi-item.v-2.product-carousel .carousel-item-left {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0); 
  margin-top: 15px;
  margin-bottom: 15px;}
.carousel-multi-item.v-2.product-carousel *, .carousel-multi-item.v-2.product-carousel ::after, .carousel-multi-item.v-2.product-carousel ::before {
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
.fuchsia-rose-text {
  color: #db0075;
}
.aqua-sky-text {
  color: #5cc6c3;
}
.mimosa-text {
  color: #F0C05A;
}
.list-inline-item .fas, .list-inline-item .far {
  font-size: .8rem;
}
.chili-pepper-text {
  color: #9B1B30;
}
.carousel-multi-item .controls-top .btn-floating {
  background: #F8CDCD;
}
.carousel-multi-item .carousel-indicators li {
  height: .75rem;
  width: .75rem;
  max-width: .75rem;
  background-color: #5cc6c3;
}
.carousel-multi-item .carousel-indicators .active {
  height: 1rem;
  width: 1rem;
  max-width: 1rem;
  background-color: #5cc6c3;
}
.carousel-multi-item .carousel-indicators {
  margin-bottom: -1rem;
}

.button-smp {
    margin-top: 20px;
    background-color: black;
    color: white;
    font-family: 'Montserrat';
    border-color: white;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px;
}

/* END */ 

/* IMG after Products */ 
.img-after-p {
    height: 60%;
    width: 100%;
}

/* END */

/* FOOTER */

.footer-title {
    background-color: black;
    color: white;
    font-family: 'Montserrat';
    font-size: 25px;
    padding: 20px;
}

.footer-content {
    background-color: black;
    color: white;
    font-family: 'Montserrat';
}

.footer-table-content {
    padding: 50px;
}

.footer-table-td {
    padding-right:100px;
    font-size: 10px;
}

.footer-table-ttd {
    padding-right:100px;

}

hr {
    background-color:white;
    font-size: 2px;
    margin-top: 60px;
}

.text_copy {
    font-size: 12px;
}

/* END Css*/ 